* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_layout {
    margin-top: 0;
    padding: 0;
}

.carousel-custom .carousel-item img {
    height: 350px;
    object-fit: cover;
}

header {
    width: 100%;
    height: 30vh;
    background-image: url(https://images.ctfassets.net/rc3dlxapnu6k/ms8cXFEsnwwjm41Oi6FkI/d9c602f84ab2b4dd6c5d2aa56c19964b/Blue_Lagoon_thermal_spa_in_Iceland.jpg?w=2088&h=1174&fl=progressive&q=50&fm=jpg);
    background-size: cover;
    background-position: center;
    color: #424d41;
    text-align: center;
    padding: 20px;
}

.place {
    background-color: #a7baeb;
    min-height: 400px;
    width: 400px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.747);
    margin: 10px;
    padding: 20px;
    transition: all 0.5s ease;
}

.place:hover {
    transform: scale(1.02);
    background-color: #7a2a2a;
    box-shadow: 3px 3px 0px #b2c80e;
}

.place h2 {
    color: #f4e3a2;
}

.place p {
    padding: 5px;
    color: #010101;
}

.cont_place {
    padding: 100px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    width: 100%;
    margin: 10px 0;
    background: linear-gradient(to right, rgba(60, 60, 60), rgba(120, 120, 120));
    border-top-right-radius: 125px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 600px) {
    .place {
        width: 100%;
        margin: 10px 0;
    }
}
