/* ContactUs.css */

.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    height: 100vh;
    margin-top: -280px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.contact-us-content{
    margin:0px 0px;
    width: 90%;
    height: 50px;
}

.contact-us-image{
    margin-right: 140px;
    float:right;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    margin-bottom: 8px;
}

.input label {
    font-weight: bold;
}

.input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}